<div class="container" style="margin-top: 20%">
    <div class="row">
      <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title">
            Sign in to wallet app.
          </h5>
          <p class="card-text">
            This is an open source project that you can support by passing us money. Thanks!
          </p>
          <button class="btn btn-primary" (click)="loginWithGoogle();">Sign in with Google</button>
        </div>
      </div>
    </div>
  </div>
  