<form [formGroup]="signUpForm">
    <div class="form-group">
      <label for="signupEmail">Email address</label>
      <input 
        type="email" 
        class="form-control" 
        id="signupEmail" 
        aria-describedby="emailHelp" 
        placeholder="Enter email"
        formControlName="signupEmail" 
        [appValidationMsg]="signupEmail"
        [errMsgs]="[
          {k: 'required', v: 'Email is required!'},
          {k: 'email', v: 'It\'s not well formated email address!'}
        ]"
      >
      <div *ngIf="signupEmail.valid" class="valid-feedback">
        Looks good!
      </div>
    </div>
    <ng-container formGroupName="password">
      <div class="form-group">
        <label for="signupPassword">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="signupPassword" 
          placeholder="Enter password"
          formControlName="signupPassword"
          [appValidationMsg]="signupPassword"
          [errMsgs]="[
            {k: 'required', v: 'Password is required!'},
            {k: 'minlength', v: 'Password should be at least 6 characters!'}
          ]"
          >
        <div *ngIf="signupPassword.valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-group">
        <label for="signupPasswordRepeat">Repeat password</label>
        <input 
          type="password" 
          class="form-control" 
          id="signupPasswordRepeat"
          placeholder="Repeat password"
          formControlName="signupPasswordRepeat"
          [appValidationMsg]="password"
          [errMsgs]="[{k: 'identityPassword', v: 'Passwords must be same!'}]"
        >
        <div *ngIf="signupPasswordRepeat.valid" class="valid-feedback">
          Looks good!
        </div>
      </div>
    </ng-container>
    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="signUp()">Sign
      up</button>
  </form>
  <hr>
  <button type="button" class="btn btn-light btn-lg btn-block" (click)="doGoBack()">Go back</button>