<div class="card-header d-flex">
  <div>
    {{walletName$ | async}}
  </div>
  <div class="ml-auto">
    <span class="badge badge-pill badge-info">
      {{walletCurrentState$ | async}} {{walletCurrency$ | async}}
    </span>
  </div>
</div>
<div class="card-body">
  <div>
    <p-chart type="line" [data]="walletChartData$ | async" height="35vh">
    </p-chart>
  </div>
  <div class="row">
    <div class="p-2 col-sm-12 col-md-8 elem-h">
      elo
    </div>
    <div class="p-2 col-sm-12 col-md-4 elem-h" style="overflow-y: scroll">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              100,00 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>Musiałem oddać babci</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #f9f9f9;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-up"></i>
              100,00 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>Babcia mi dała</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              30,00 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>liquor - funcking alcohol drink</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              10,43 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>jedzenie</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              846,34 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>12.07</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>weekends...</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              75,34 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>02.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>smokes</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              12,65 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>10 zł.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>joints</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              15,43 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.03</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>new bacpaker</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #f9f9f9;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-up"></i>
              100,00 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>lov my mom</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              14,43 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>12.01</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>jedzenie</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #eaeaea;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-down"></i>
              10,43 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>06.12</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>jedzenie</small>
            </div>
          </div>
        </li>
        <li class="list-group-item" style="background-color: #f9f9f9;">
          <div class="row">
            <div class="col-md-12 col-sm-6 col-lg-6">
              <i class="fas fa-arrow-up"></i>
              1321,99 zł
            </div>
            <div class="col-md-12 col-sm-6 col-lg-6 d-flex">
              <div class="ml-auto">
                <small>26.08</small>
              </div>
            </div>
            <div class="col-sm-12">
              <small>payday biteches</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>