.elem-h {
    height: 40vh;
    min-height: 350px;
}

.positive-c {
    background-color: #f9f9f9;
}

.negative-c {
    background-color: #eaeaea;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.elem-w {
    min-width: 800px;
}

.overflow-xs {
    overflow-x: scroll;
}
