<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-9 col-sm-12">
    <div class="card" style="margin-top: 2%">
      <div class="card-header">
        Add new wallet
      </div>
      <div class="card-body">
        <app-add-edit-wallet #addEditWalletComponent (walletSaved)="walletSaved()"></app-add-edit-wallet>
      </div>
    </div>
  </div>
</div>


<!-- <ng-container *ngFor="let wallet of wallets | async; let odd = odd">
  <div *ngIf="!odd; else notOdd" class="row">
    <div class="col-sm-6">
      <div class="card" [appAddCardRandomColor]="true" style="margin-top: 2%">
        <div class="card-header">
          {{wallet.name}}
        </div>
        <div class="card-body">
          {{wallet | json}}
        </div>
      </div>
    </div>
  </div>
  <ng-template #notOdd>
    <div class="col-sm-6">
      <div class="card" [appAddCardRandomColor]="true" style="margin-top: 2%">
        <div class="card-header">
          {{wallet.name}}
        </div>
        <div class="card-body">
          {{wallet | json}}
        </div>
      </div>
    </div>
  </ng-template>
-->

<!-- <table class="table" style="margin-top:30px;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button class="btn"><i class="fas fa-edit"></i></button>
        <button class="btn"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>
        <button class="btn"><i class="fas fa-edit"></i></button>
        <button class="btn"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>
        <button class="btn"><i class="fas fa-edit"></i></button>
        <button class="btn"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table> -->